body {
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: black;
    transition: 0.5s;
}

#erro404 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 35px;
}