{% extends "base.html" %}

{% block title %}EmpreGO! 💼 - Cadastrar Vaga 📝{% endblock %}

{% block content %}

<ul>
    <li><a href="/adm">Voltar</a></li>
</ul>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cadastrar Nova Vaga 📝</h1>

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}


            <form action="/cadastrar_vaga" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título da Vaga</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Título da Vaga", exemplo: "Programador Back-End"
                      </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição da Vaga</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Descrição da Vaga", exemplo: "Desenvolvimento de interfaces web com foco em usabilidade e performance."
                      </div>
                </div>
                <div class="mb-3">
                    <label for="formato" class="form-label">Formato de Trabalho</label>
                    <select class="form-select mb-2" id="formato" name="formato" required>
                        <option value="Presencial">Presencial</option>
                        <option value="Remoto">Remoto</option>
                        <option value="Híbrido">Híbrido</option>
                    </select>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo de Contrato</label>
                    <select class="form-select" id="tipo" name="tipo" required>
                        <option value="CLT">CLT</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="local" class="form-label">Local da Vaga (se aplicável)</label>
                    <input type="text" class="form-control" id="local" name="local">
                </div>
                <div class="mb-3">
                    <label for="salario" class="form-label">Salário</label>
                    <input type="text" class="form-control" id="salario" name="salario" required>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Salário", exemplo: R$ 1.500.000,00
                      </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar Vaga</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Script do BS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
<script>
    (() => {
      'use strict'
    
      const forms = document.querySelectorAll('.needs-validation')
    
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
    
          form.classList.add('was-validated')
        }, false)
      })
    })()
    </script>

    <!-- Link do Input Mask -->
<script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.8/dist/inputmask.min.js"></script>

<script>
    Inputmask("numeric", {radixPoint: ",", groupSeparator: ".", digits: 2, autoGroup: true, rightAlign: false, allowMinus: false, prefix: "R$ "}).mask(document.getElementById("salario")); //Máscara para Salário
</script>

{% endblock %}
