{% extends "base.html" %}

{% block title %}EmpreGO! 💼 - Cadastrar Vaga 📝{% endblock %}

{% block content %}

<ul>
    <li><a href="/adm">Voltar</a></li>
</ul>
<hr>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Cadastrar Nova Vaga 📝</h1>

            {% if msg_erro %}  <!-- Exibe mensagem de erro, se houver -->
                <div class="alert alert-danger" role="alert">
                    {{ msg_erro }}
                </div>
            {% endif %}


            <form action="/cadastrar_vaga" method="post" class="needs-validation" novalidate">
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título da Vaga</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" required>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Título da Vaga", exemplo: "Programador Back-End"
                      </div>
                </div>
                <div class="mb-3">
                    <label for="descricao" class="form-label">Descrição da Vaga</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Descrição da Vaga", exemplo: "Desenvolvimento de interfaces web com foco em usabilidade e performance."
                      </div>
                </div>
                <div class="mb-3">
                    <label for="formato" class="form-label">Formato de Trabalho</label>
                    <select class="form-select" id="formato" name="formato" required>
                        <option value="Presencial">Presencial</option>
                        <option value="Remoto">Remoto</option>
                        <option value="Híbrido">Híbrido</option>
                    </select>
                <div class="mb-3">
                    <label for="tipo" class="form-label">Tipo de Contrato</label>
                    <select class="form-select" id="tipo" name="tipo" required>
                        <option value="CLT">CLT</option>
                        <option value="PJ">PJ</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="local" class="form-label">Local da Vaga (se aplicável)</label>
                    <input type="text" class="form-control" id="local" name="local">
                </div>
                <div class="mb-3">
                    <label for="salario" class="form-label">Salário</label>
                    <input type="text" class="form-control" id="salario" name="salario" required>
                    <div class="valid-feedback">
                        Parece bom!
                      </div>
                      <div class="invalid-feedback">
                        Preencha o campo "Salário", exemplo: R$ 1.500.000,00
                      </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Cadastrar Vaga</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
  (() => {
    'use strict'
  
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')
  
    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
      form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
  
        form.classList.add('was-validated')
      }, false)
    })
  })()
</script>
{% endblock %}
