{% extends "base.html" %}

{% block title %}EmpreGO! - Login 💻{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center"> <!-- Centraliza horizontalmente -->
        <div class="col-md-6"> <!-- Ocupa metade da tela em telas médias e maiores -->
            <h1 class="text-center mb-4">Login 🔑🔒</h1>

            {% if msgerro %}
                <div class="alert alert-danger" role="alert">
                    {{ msgerro }}
                </div>
            {% endif %}

            <form action="/login" method="post">
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="nomedaempresa@email.com">
                    <label for="floatingInput">E-mail</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" name="senha" class="form-control mb-4" id="floatingPassword" placeholder="Insira sua senha">
                    <label for="floatingPassword">Senha</label>
                  </div>
                <button type="submit" class="btn btn-success w-100">Acessar</button> <p></p>
                <p class="text-center"> <a href="/">Voltar</a> </p>
            </form>
        </div>
    </div>
</div>

{% endblock %}